#python snippets
'.source.python':
  'Snippet Name':
    'prefix': 'trigges'
    'body': 'Hello World!'

  'sqlURI':
    'prefix': 'squ'
    'body': """SQLALCHEMY_DATABASE_URI = '${1:mysql}+${2:mysqlconnector}://${3:root}:${4:12345}@${5:localhost}/${6:nameDataBase}'$7"""


  'super':
    'prefix': 'super'
    'body': 'super($1).__init__($2)$3'





#html snippets

#flask snippets in html
'.text.html.basic':
  'block':
    'prefix': 'block'
    'body': """
    {% block $1 %}
      $2
    {% endblock%}
    """
  'extends':
    'prefix': 'ext'
    'body': """{% extends '$1.html' %}"""

  'urlfor':
    'prefix': 'urlfor'
    'body': """{{ url_for("$1") }}"""

  'ifblock':
    'prefix': 'ifblock'
    'body': """
    {% if $1 %}

    {% else %}

    {% endif %}
    """
  'forblock':
    'prefix': 'forblock'
    'body': """
    {% for $1 in $2 %}
    $3
    {% endfor %}
    """

  'macro':
    'prefix': 'macro'
    'body': """
    {% macro $1 %}
    $3
    {% endmacro %}
    """

  'imp':
    'prefix': 'imp'
    'body': '{% import $1 as $2 %}'

  'include':
    'prefix': 'include'
    'body': '{% include \'$1\' %}'
